MAX_BOT_TOKEN=put_token_here
MAX_CHAT_ID=put_chat_id_here
MAX_CASH_CHAT_ID=put_cash_chat_id_here
MAX_INVESTSTROY_CHAT_ID=put_investstroy_chat_id_here
MAX_INVESTSTROY_OLD_CHAT_ID=put_old_investstroy_chat_id_here
MAX_MESSAGE_COUNT=100
GOOGLE_CLIENT_SECRET_FILE=C:\Users\Vitaliy\OneDrive\downloads_one_drive\client_secret_xxx.apps.googleusercontent.com.json
GOOGLE_TOKEN_FILE=.google_token.json
GOOGLE_ARCHIVE_SPREADSHEET_ID=put_spreadsheet_id_or_url_here
GOOGLE_ARCHIVE_SHEET_NAME=Архив счетов
GOOGLE_ARCHIVE_ROOT_FOLDER_ID=put_drive_folder_id_or_url_here
GOOGLE_PAYMENT_ROOT_FOLDER_ID=1jB4mkAxrfykCC_N5BO4P-jx0QSEsiQhX
TELEGRAM_BOT_TOKEN=put_telegram_bot_token_here
TELEGRAM_CHAT_ID=put_telegram_chat_id_here
GOOGLE_ALLOWED_EMAIL=pcknew.tech@gmail.com
