google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.0
openpyxl==3.1.5
Pillow==12.2.0
PyMuPDF==1.27.2.2
pypdf==6.9.2
python-docx==1.2.0
pytesseract==0.3.13
xlrd==2.0.2
